<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password">
          </mat-form-field>

          <div class="d-flex justify-content-center">
            <a mat-flat-button [routerLink]="['/registrar-usuario']">Cadastre-se</a>
          </div>
          
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div>