<div class="row">
    <div class="col-sm-6" *ngIf="consultaSelecionada">
        <app-titulo [titulo]="(consultaSelecionada.id === 0 ? 'Nova Consulta' : 'Consulta: ' + consultaSelecionada.id)">
            <button class="btn btn-outline-danger" (click)="voltar()">
                Fechar
            </button>
        </app-titulo>

        <form [formGroup]="consultaForm" (submit)="consultaSubmit()">
            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <select class="form-control" formControlName="pacienteId">
                    <option *ngFor="let item of pacienteList" value="{{item.id}}">{{ item.nome }} {{item.sobreNome}}</option>
                </select>
            </div>            
            <div class="form-group">
                <label for="formGroupExampleInput2">Médico</label>
                <select class="form-control" formControlName="medicoId">
                    <option *ngFor="let item of medicoList" value="{{item.id}}">{{item.nome}}</option>
                </select>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Especialidade</label>
                      <select class="form-control" formControlName="especialidade">
                        <option *ngFor="let items of medicoList" value="{{items.especialidade}}">{{items.especialidade}}</option>
                    </select > 
                </div>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Data e hora </label>
                <input type="text" class="form-control" formControlName="dataDaConsulta" 
                bsDatepicker 
                [(bsValue)]="newVar" value="{{ newVar | date:'dd/MM/yyyy hh:mm' }}" >
            </div>
            <div class="form-group">
                <hr>
                <button class="btn btn-success" [disabled]="!consultaForm.valid">Salvar</button>
            </div>
        </form>
    </div>

    <div [ngClass]="{'col-sm-6': consultaSelecionada, 'col-sm-12': !consultaSelecionada}">
        <app-titulo [titulo]="titulo">
        </app-titulo>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Especialidade</th>
                    <th scope="col">Data da Consulta</th>
                    <th>
                        <button class="btn btn-outline-success" (click)="ConsultaNovo()">
                            Marca Consulta
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of consultas">
                    <td scope="row">{{consulta.id}}</td>
                    <td>{{consulta.paciente.nome}} {{consulta.paciente.sobreNome}}</td>
                    <td>{{consulta.medico.nome}}</td>
                    <td>{{consulta.especialidade}}</td>
                    <td>{{consulta.dataDaConsulta  | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>
                        <div class="btn-group">
                            <button (click)="consultaSelect(consulta)" class="btn btn-outline-warning">Editar</button>
                            <button class="btn btn-outline-danger" (click)="deletarConsulta(consulta.id)">Cancelar
                                consulta</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>