<div class="row">
    <div class="col-sm-6" *ngIf="pacienteSelecionado">
        <app-titulo [titulo]="(pacienteSelecionado.id === 0 ? 'Novo Paciente' : 'Paciente: ' + pacienteSelecionado.id)">
            <button class="btn btn-outline-danger" (click)="voltar()">
                Fechar
            </button>
        </app-titulo>

        <form [formGroup]="pacienteForm" (submit)="pacienteSubmit()">
            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <input type="text" formControlName="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Sobrenome</label>
                <input type="text" formControlName="sobreNome" class="form-control">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Telefone</label>
                <input type="text" formControlName="telefone" class="form-control">
            </div>
            <div class="form-group">
                <hr>
                <button class="btn btn-success" [disabled]="!pacienteForm.valid">Salvar</button>
            </div>
        </form>
    </div>

    <div [ngClass]="{'col-sm-6': pacienteSelecionado, 'col-sm-12': !pacienteSelecionado}">
        <app-titulo [titulo]="titulo">
        </app-titulo>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Telefone</th>                       
                    <th>
                        <button class="btn btn-outline-success" (click)="pacienteNovo()">
                            Cadastrar Paciente
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of pacientes">
                    <td scope="row">{{paciente.id}}</td>
                    <td>{{paciente.nome}}</td>
                    <td>{{paciente.sobreNome}}</td>
                    <td>{{paciente.telefone}}</td>
                    <td>
                        <div class="btn-group">
                            <button (click)="pacienteSelect(paciente)" class="btn btn-outline-warning">Editar</button>
                            <button class="btn btn-outline-danger" (click)= "deletarPaciente(paciente.id)">Apagar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Modal pacientes que chama a lista de Medicos -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Lista de Médicos</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <app-medico></app-medico> -->
    </div>
</ng-template>