<div class="container">
    <div class="row">
        <div class="mr-auto">
            <h2>
                {{ titulo }}
            </h2>
        </div>   
        <div class="mt-1">
            <ng-content></ng-content>
         </div> 
    </div>
</div>

