<div class="row">
    <div class="col-sm-6" *ngIf="medicoSelecionado">
        <app-titulo [titulo]="(medicoSelecionado.id === 0 ? 'Novo medico' : 'medico: ' + medicoSelecionado.id)">
            <button class="btn btn-outline-danger" (click)="voltar()">
                Fechar
            </button>
        </app-titulo>

        <form [formGroup]="medicoForm" (submit)="medicoSubmit()">
            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <input type="text" formControlName="nome" class="form-control" placeholder="Nome do Médico">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Especialidade</label>
                <input type="text" formControlName="especialidade" class="form-control" placeholder="Especialidade">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Crm</label>
                <input type="number" formControlName="crm" class="form-control" placeholder="Crm">
            </div>
            <div class="form-group">
                <hr>
                <button class="btn btn-success" [disabled]="!medicoForm.valid">Salvar</button>
            </div>
        </form>
    </div>

    <div [ngClass]="{'col-sm-6': medicoSelecionado, 'col-sm-12': !medicoSelecionado}">
        <app-titulo [titulo]="titulo">
        </app-titulo>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Visualizar</th>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Especialidade</th>
                    <th scope="col">Crm</th>
                    <th scope="col">
                        <button class="btn btn-outline-success" (click)="medicoNovo()">
                            Cadastrar Médico
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of medicos">
                    <td>
                        <div>
                            <button (click)="openModal(template, medico.id)" class="btn btn-sm btn-outline-primary">Pacientes agendados</button>
                        </div>
                    </td>
                    <td scope="row">{{medico.id}}</td>
                    <td>{{medico.nome}}</td>
                    <td>{{medico.especialidade}}</td>
                    <td>{{medico.crm}}</td>
                    <td>
                        <div class="btn-group">
                            <button (click)="medicoSelect(medico)" class="btn btn-outline-warning">Editar</button>
                            <button class="btn btn-outline-danger" (click)="deletearMedico(medico.id)">Apagar</button>
                        </div>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Modal paciente, retorna a lista de paciente agendado de acordo com o id do medicos -->
<ng-template #template>
    <div class="modal-header">
        <h3 class="modal-title pull-left">Lista de Paciente angendados</h3>       
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Paciente</th>
                <th scope="col">Data da Consulta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of consultasPorMedico">
                <td scope="row">{{item.id }}</td>
                <td>{{item.paciente.nome}} {{item.paciente.sobreNome}}</td>
                <td>{{item.dataDaConsulta | date:'dd/MM/yyyy hh:mm'}} </td>
              </tr>              
            </tbody>
          </table>
      </div>
    </div>
</ng-template>