<div class="row">
    <div class="col-sm-6" *ngIf="clienteSelecionado">
        <app-titulo [titulo]="(clienteSelecionado.id === 0 ? 'Novo Cliente' : 'Cliente: ' + clienteSelecionado.id)">
            <button class="btn btn-outline-danger" (click)="voltar()">
                Fechar
            </button>
        </app-titulo>

        <form [formGroup]="clienteForm" (submit)="clienteSubmit()">
            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <input type="text" formControlName="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Sobrenome</label>
                <input type="text" formControlName="sobreNome" class="form-control">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Telefone</label>
                <input type="text" formControlName="telefone" class="form-control">
            </div>
            <div class="form-group">
                <hr>
                <button class="btn btn-success" [disabled]="!clienteForm.valid">Salvar</button>
            </div>
        </form>
    </div>

    <div [ngClass]="{'col-sm-6': clienteSelecionado, 'col-sm-12': !clienteSelecionado}">
        <app-titulo [titulo]="titulo">
        </app-titulo>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Telefone</th>                       
                    <th>
                        <button class="btn btn-outline-success" (click)="clienteNovo()">
                            Cadastrar Cliente
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td scope="row">{{cliente.id}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.sobreNome}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td>
                        <div class="btn-group">
                            <button (click)="clienteSelect(cliente)" class="btn btn-outline-warning">Editar</button>
                            <button class="btn btn-outline-danger" (click)= "deletarcliente(cliente.id)">Apagar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

