<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="dashBoard" class="navbar-brand">Maktube</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="cliente" class="nav-link">Cliente</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="medicos" class="nav-link">Funcionarios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="agendamento" class="nav-link">Agendamento</a>
        </li>    
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>